/* Default theme */
.recent-purchase-block.theme-default {
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.recent-purchase-block.theme-default a {
  color: #333;
}

.recent-purchase-block.theme-default a:hover {
  color: #333;
  text-decoration: underline;
}

.recent-purchase-block.theme-default .recent-purchase-close {
  color: #333;
}

.recent-purchase-block.theme-default .recent-purchase-time,
.recent-purchase-block.theme-default .recent-purchase-title {
  font-size: 14px;
}

.recent-purchase-block.theme-default .recent-purchase-body {
  font-size: 15px;
  font-weight: bold;
}
