{{ attach_library('commerce_recent_purchase_popup/base') }}

{% if block.delta != 'main' %}
  <section{{ attributes.addClass('recent-purchase-block position-bottom-left theme-default') }}>
{% endif %}

{{ title_prefix }}
{% if label %}
  <h2 {{ title_attributes }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}

{% if content_attributes|length %}
  <div {{ content_attributes }}>
{% endif %}
{% block content %}
  {% for item in items %}
    <div class="recent-purchase-container" style="display: none;">
      <div class="recent-purchase-wrapper">
        <div class="recent-purchase-wrapper-first">
          {% if item.product_image %}
            {% set imagestyle = {
              '#theme':      'image_style',
              '#style_name': 'medium',
              '#uri':        item.product_image,
              '#alt':        item.product_link.title,
              '#attributes': { class: 'recent-purchase-image' },
            } %}
            {{ imagestyle }}
          {% endif %}
        </div>
        <div class="recent-purchase-wrapper-second">
          <button class="recent-purchase-close" type="button">&times;</button>
          <div class="recent-purchase-title">
            <span>{{- item.order_place -}}</span>
          </div>
          <div class="recent-purchase-body">
            <a href="{{- item.product_link.url -}}">{{- item.product_link.title -}}</a>
          </div>
          <div class="recent-purchase-time">
            {{- item.order_time -}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% if content_attributes|length %}
  </div>
{% endif %}

{% if block.delta != 'main' %}
  </section>
{% endif %}
